{% extends 'base.html' %}
{% from 'macros.html' import render_table_criteria_data %}

{% block content %}
  <div class="py-3 px-lg-5">
    <form action="" method=post enctype=multipart/form-data>
      <p><input type=file name=file>
        <input type=submit value=Загрузить>
    </form>
  </div>

  {% if meta_data.criteria_data %}
    <br>
    <form name="loadResult" action="/form/load_criteria_result" method="post">
      <button type="submit" class="btn btn-primary">Скачать результаты решения</button>
    </form>

    <br>

    {{ render_table_criteria_data(meta_data) }}

    <br>

    <div style="max-height: 500px" class="table-responsive">
      <table class="table table-sm table-striped table-bordered">
        <thead> <!-- Column names -->
        <tr>
          <th scope="col">Вариант модели</th>
          <th scope="col">Е</th>
          <th scope="col">K</th>
          <th scope="col">Ǩ</th>
          <th scope="col">L</th>
          <th scope="col">Ñ</th>
          <th scope="col">М</th>
          <th scope="col">О</th>
          <th scope="col">Z</th>
          <th scope="col">Н</th>
        </tr>
        </thead>
        <tbody> <!-- Data -->
        {% for items in data_criteria %}
          <tr>
            {% for item in items %}
              <td>{{ item }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    <br/>

    <div>
      <p>
        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_e"
                aria-expanded="false" aria-controls="collapseExample">
          E - средняя относительная ошибка аппроксимации.
        </button>
      </p>
      <div class="collapse" id="collapse_e">
        <div class="card card-body">
          $$E=100\% \sum_{k=1}^{n}\left | \frac{\varepsilon_{k}}{y_{k}} \right | / n$$
        </div>
      </div>

      <p>
        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_k"
                aria-expanded="false" aria-controls="collapseExample">
          K - критерий согласованности поведений (КСП).
        </button>
      </p>
      <div class="collapse" id="collapse_k">
        <div class="card card-body">
          $$ K(a)=\sum_{k=1}^{n-1}\sum_{s=k+1}^{n}sign[(y_{k}-y_{s})(\hat{y_{k}} - \hat{y_{s}}))], $$
          $$ sign(a)=\left\{\begin{matrix}
          1, & a \geq 0 & \\
          0, & в\, противном\, случае. &
          \end{matrix}\right. $$
        </div>
      </div>

      <p>
        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_kk"
                aria-expanded="false" aria-controls="collapseExample">
          Ǩ - относительный КСП.
        </button>
      </p>
      <div class="collapse" id="collapse_kk">
        <div class="card card-body">
          $$ \tilde{K}=\frac{200\%K}{n(n-1)} $$
        </div>
      </div>

      <p>
        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_l"
                aria-expanded="false" aria-controls="collapseExample">
          L - непрерывный КСП.
        </button>
      </p>
      <div class="collapse" id="collapse_l">
        <div class="card card-body">
          $$ L(a)=\sum_{k=1}^{n-1}\sum_{s=k+1}^{n}l_{ks} \, , $$
          $$ l_{ks}=\left\{\begin{matrix}
          \left| \hat{y_{k}} - \hat{y_{s}} \right| & (y_{k}-y_{s})(\hat{y_{k}} - \hat{y_{s}}) < 0 & \\
          0, & в\, противном\, случае. &
          \end{matrix}\right. $$
        </div>
      </div>

      <p>
        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_n"
                aria-expanded="false" aria-controls="collapseExample">
          Ñ - относительный непрерывный КСП.
        </button>
      </p>
      <div class="collapse" id="collapse_n">
        <div class="card card-body">
          $$ \tilde{N}(a)=\frac{2*100}{n(n-1)} \sum_{k=1}^{n-1}\sum_{s=k+1}^{n}l_{ks} / (y_{k}+y_{s}). $$
        </div>
      </div>

      <p>
        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_m"
                aria-expanded="false" aria-controls="collapseExample">
          M - сумма модулей ошибок.
        </button>
      </p>
      <div class="collapse" id="collapse_m">
        <div class="card card-body">
          $$ M=\sum_{k=1}^{n}\left| \varepsilon_{k} \right| $$
        </div>
      </div>

      <p>
        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_o"
                aria-expanded="false" aria-controls="collapseExample">
          О - максимальная ошибка.
        </button>
      </p>
      <div class="collapse" id="collapse_o">
        <div class="card card-body">
          $$ O=^\,{\max_{k=\overline{1,n}}} \left| \varepsilon_k \right| $$
        </div>
      </div>

      <p>
        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_z"
                aria-expanded="false" aria-controls="collapseExample">
          Z - максимальная относительная ошибка.
        </button>
      </p>
      <div class="collapse" id="collapse_z">
        <div class="card card-body">
          $$ Z=100\% ^\,{\max_{k=\overline{1,n}}} \left| \frac{\varepsilon_k}{y_{k}} \right| $$
        </div>
      </div>

      <p>
        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_h"
                aria-expanded="false" aria-controls="collapseExample">
          Н - сумма квадратов ошибок.
        </button>
      </p>
      <div class="collapse" id="collapse_h">
        <div class="card card-body">
          $$ H=\sum_{k=1}^{n} \varepsilon^{2}_{k} $$
        </div>
      </div>

    </div>

  {% endif %}


{% endblock %}