{% extends 'base.html' %}
{% from 'macros.html' import render_table_load_data %}

{% block content %}

  {% if meta_data.load_data %}
    <form action="/form/change-mode" method="post" name="changeMode">
      <div class="row align-items-start">
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Выберете режим расчётов</label>
          <div class="col-sm-2">
            <select class="form-select" style="min-width: max-content" aria-label="Default select example" name="mode"
                    onchange="changeModeHandler(event)">
              <option {% if meta_data.mode.value == 'MODE_MNM' %} selected {% endif %} value="MODE_MNM">МНМ</option>
              <option {% if meta_data.mode.value == 'MODE_PIECEWISE_GIVEN' %} selected {% endif %}
                                                                              value="MODE_PIECEWISE_GIVEN">
                Кусочно-заданная
              </option>
            </select>
          </div>
        </div>
        <div id="ideal-dot" class="row mb-3" {% if meta_data.mode.value == 'MODE_PIECEWISE_GIVEN' %} hidden {% endif %}>
          <label class="col-sm-3 col-form-label">Поиск идеальной точки</label>
          <div class="col-sm-2">
            <input class="form-check-input" type="checkbox" name="ideal_dot" style="min-width: max-content"
                   id="gridCheck"
                {% if meta_data.mode.value == 'IDEAL_DOT' %} checked {% endif %}
            >
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Изменить режим расчётов</button>
    </form>

    <br>

    {{ render_table_load_data(meta_data) }}

    <br>

    <form action="/form/data" method="post" name="setData">
      <div class="row align-items-start">
        <div class="row mb-3">
          <label for="inputData1" class="col-sm-3 col-form-label">Введите индекс зависимой переменной</label>
          <div class="col-sm-2">
            <input type="number" class="form-control" style="min-width: max-content" name="var_y"
                   {% if meta_data.var_y != None %}value="{{ meta_data.var_y }}"{% endif %}>
          </div>
        </div>
        {% if meta_data.mode.value == 'MODE_MNM' %}
          <div class="row mb-3">
            <label for="inputData2" class="col-sm-3 col-form-label">Уровень приоритета суммы модулей (r)</label>
            <div class="col-sm-2">
              <input type="number" step="0.00000000001" class="form-control" style="min-width: max-content" name="r"
                     {% if meta_data.r != None %}value="{{ meta_data.r }}"{% endif %}>
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputData3" class="col-sm-3 col-form-label">Малая положительная величина (δ)</label>
            <div class="col-sm-2">
              <input type="number" step="0.00000000001" class="form-control" style="min-width: max-content" name="delta"
                     {% if meta_data.delta != None %}value="{{ meta_data.delta }}"{% endif %}>
            </div>
          </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="free_chlen" style="min-width: max-content"
                     id="gridCheck"
                  {% if meta_data.free_chlen %} checked {% endif %}>
              <label class="form-check-label" for="gridCheck">Использовать свободный член?</label>
            </div>
          </div>
        {% endif %}
        {% if meta_data.mode.value == 'MODE_PIECEWISE_GIVEN' %}
          <div class="row mb-3">
            <label for="inputData2" class="col-sm-3 col-form-label">Уровень приоритета суммы модулей (r)</label>
            <div class="col-sm-2">
              <input type="number" step="0.00000000001" class="form-control" style="min-width: max-content" name="r"
                     {% if meta_data.r != None %}value="{{ meta_data.r }}"{% endif %}>
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputData2" class="col-sm-3 col-form-label">Большое положительное число (M)</label>
            <div class="col-sm-2">
              <input type="number" step="1" class="form-control" style="min-width: max-content" name="M"
                     {% if meta_data.m != None %}value="{{ meta_data.m }}"{% endif %}>
            </div>
          </div>
        {% endif %}
      </div>

      <br>
      <button type="submit" class="btn btn-primary">Получить решение</button>
    </form>

    <script>
        function changeModeHandler(event) {
            if (event.target.value === 'MODE_MNM')
                document.getElementById('ideal-dot').hidden = false
            if (event.target.value === 'MODE_PIECEWISE_GIVEN') {
                document.getElementById('ideal-dot').hidden = true
            }

        }
    </script>
  {% endif %}
{% endblock %}