{% extends 'base.html' %}

{% block content %}
    <p>
        Программа предназначена для оценивания параметров линейной регрессионной модели
        посредством поиска компромисса между минимизацией суммы модулей ошибок аппроксимации
        и максимизацией непрерывного критерия согласованности поведения наблюдаемых и расчетных
        значений независимой переменной. Предусмотрена возможность построения модели как со
        свободным членом, так и без него. Программа также позволяет варьировать константу,
        устанавливающую уровень указанного компромисса. Оценка адекватности модели производится по
        следующим критериям: сумма модулей ошибок аппроксимации, средняя относительная ошибка,
        абсолютное и относительное значения непрерывного критерия согласованности поведения,
        а также его дискретное представление.
    </p>

    <form name="loadData" action="/load" method="get">
        <button type="submit" class="btn btn-primary">Загрузить исходные данные</button>
    </form>

{% endblock %}
